@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Toys Toys Toys</h1>
        <h2>Your one stop shop for any toy on the block</h2>

        <img src="~/img/723666.jpg"/>
